<center>
<%= image_tag 'armoire.png' %>
<div id="container">

<h1>The world is your closet.</h1>
<h2>Borrow clothes from your new and future friends.</h2>
</br>

<div id="main">
<% if user_signed_in? %>
<h3> Hello, <%= current_user.id %> </h3>
<%#= image_tag @pic %>

<%#= getpic_path(:id => current_user.id), :method => :get %>


<% else %>
<h3>First, 
<%= link_to('Please create an account', new_user_registration_path)  %>
</h3>
<% end %>
</div>


<% if user_signed_in? %>
<div id="wardrobe">
>> List your wardrobe
</div>
<div id="shop">
>> Shop available garments
</div>

<% end %>

</center>
</div>

