<center>
<%= image_tag 'armoire.png' %>
<div id="container">

<h1>The world is your closet.</h1>
</br>

<div id="main">
<% if user_signed_in? %>
<h3> What if all the clothes in the world were at your fingertips, and everything in your closet was a source of income? </h3>


<% else %>
<h3>First, 
<%= link_to('Please create an account', new_user_registration_path)  %>
</h3>
<% end %>
</div>


<% if user_signed_in? %>
<div id="wardrobe">
<%= link_to '>> List your wardrobe', list_path %>

</div>

</br>

<div id="shop">
<%= link_to '>> Shop available garments', shop_path %>
</div>

<% end %>

</center>
</div>

