<center>
<%= image_tag 'armoire.png'%>
<div id="container">

<h1>The world is your closet.</h1>
<h2>Borrow clothes from your new and future friends.</h2>
</br>

--ability to input new garments--
</br></br>

<%= render 'garments/form' %>

</br>
</br>
<%= link_to 'Home', root_path %>